body{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('loader.gif') center no-repeat #fff;
}